name: Rust

on:
  release:
    types:
      - created

env:
  CARGO_TERM_COLOR: always

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    - name: Build Linux
      run: cargo build --verbose --release
    - name: Generate Headers
      run: cargo test --features c-headers -- generate_headers
    - name: Upload production artifacts to release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: target/release/librusty_sadl.so
        asset_name: linux-release
        tag: ${{ github.ref }}
        overwrite: true
        body: ""
    - name: Upload examples to release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: src/examples/*
        asset_name: linux-release
        tag: ${{ github.ref }}
        overwrite: true
        body: ""
  build-windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    - name: Build Windows
      run: cargo build --verbose --release 
    - name: Generate Headers
      run: cargo test --features c-headers -- generate_headers
    - name: Upload production artifacts to release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: target/release/rusty_sadl.dll
        asset_name: windows-release
        tag: ${{ github.ref }}
        overwrite: true
        body: ""
