name: Rust

on:
  release:
    types:
      - created

env:
  CARGO_TERM_COLOR: always

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    - name: Build Linux
      run: cargo build --verbose --release
    - name: Generate Headers
      run: cargo test --features c-headers -- generate_headers
    - name: Archive production artifacts
      uses: actions/upload-artifact@v2
      with:
        name: release-linux
        path: |
          examples/
          librusty_sadl.h
          target/release/librusty_sadl.so
            build-linux:
  build-windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    - name: Build Windows
      run: cargo build --verbose --release 
    - name: Generate Headers
      run: cargo test --features c-headers -- generate_headers
    - name: Archive production artifacts
      uses: actions/upload-artifact@v2
      with:
        name: release-windows
        path: |
          examples/
          librusty_sadl.h
          target/release/rusty_sadl.dll
